---
layout: default
title: The Crossing at Mervine Kahn
description: >-
  We offer space for large and small wedding ceremonies and receptions,
  corporate events and small parties! WE offer the most delectable catering and
  also have a full service bar!
keywords:
page_banner: ../media/web_app_images/forms/thecrossing.jpg
beverage_banner: ../static/thecrossing/images/restaurant-3.jpg
image_slider:
  - image: ../static/thecrossing/images/4.jpg
  - image: ../static/thecrossing/images/1.jpg
  - image: ../static/thecrossing/images/2.jpg
permalink: food
---
<section id="services" class="cover height-50 imagebg parallax" data-overlay="3">
        <div class="background-image-holder">
            <img alt="background" src="{{page.page_banner}}" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <h1 class="editable">
                        Food Menu
                    </h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red editble">Hor d'oeuvres </h3>
                    </div>
                </div>
                
                   {% for item in site.data.menu %}
                    {% if item.category == "Hor d'oeuvres" %}
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}} <label style="font-size: 13px; font-weight: 600; color: #a94442">{{item.label}}</label></h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                
                 
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red editable">Stations</h3>
                    </div>
                </div>


                    {% for item in site.data.menu %}
                    {% if item.category == "Stations" %}
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}}</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red editable">Vegetable, Fruit, Sandwich and Cheese Trays</h3>
                    </div>
                </div>
                
                {% for item in site.data.menu %}
                {% if item.category == "Trays" %}
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}}</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                {% endif %}
                {% endfor %}
                    
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red editable">Soups, Gumbo, Dips and Salads</h3>
                    </div>
                </div>
                {% for item in site.data.menu %}
                {% if item.category == "Soup, Salads, and Dips" %}
                   
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}}</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                
                    
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Entree</h3>
                    </div>
                </div>
                    {% for item in site.data.menu %}
                    {% if item.category == "Entree" %}
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}}</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <p class="editable">Food is priced according to menu choices on a per person basis. The prices range from mid
                            twenties on up, per person, depending on food selection. </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


    <section id="work" class="cover height-50 imagebg parallax" data-overlay="1">
        <div class="background-image-holder">
            <img alt="background" src="{{page.beverage_banner}}" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <h1 class="editable">
                        Beverages
                    </h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red editable">Cold Drinks/No Liquor</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-block">
                        <h4 class="editable">Includes sodas, juices, and water</h4>
                        <p class="editable">
                            Has the option of cash bar for all alcohol.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red ediable">Beer/Wine</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-block">
                        <h4 class="editable">Includes 3 choices of beer and 3 choices of wine, sodas, juice, and water</h4>
                        <p class="editable">
                            Also has the option for cash bar for mixed drinks or no mixed drinks at all.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red editable">Hard Liquor and Premium Liquor</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-block">
                        <h4 class="editable">Includes beer, wine, mixed drinks, sodas, juices, and water</h4>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="slider" data-arrows="true" data-paging="true">
        <ul class="slides">
            {% for item in page.image_slider %}
            <li>
                <img alt="Image" src="{{item.image}}" />
            </li>
            {% endfor %}
            
        </ul>
    </section>
    <a name="Contact"></a>
   {% include contact.html %}

