---
layout: default
title: The Crossing at Mervine Kahn'
description: We offer space for large and small wedding ceremonies and receptions, corporate events and small parties! WE offer the most delectable catering and also have a full service bar!
keywords:
page_banner:
     banner_title: "Rustic yet elegant, timeless intrigue.
     Making memories for over 125 years."
     button_link: /
     button_text: Book An Event
     background_image: ../media/web_app_images/forms/thecrossing.jpg
services_image: /uploads/214jefferson-72.jpg
permalink: food
---
    <section id="services" class="cover height-50 imagebg parallax" data-overlay="3" id="menu">
        <div class="background-image-holder">
            <img alt="background" src="../static/thecrossing/images/food.jpg"/>
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <h1>
                        Food Menu
                    </h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Hor d'oeuvres </h3>
                    </div>
                </div>
                
                   {% for item in site.data.menu %}
                    {% if item.category == "Hor d'oeuvres" %}
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}} <label
                                        style="font-size: 13px; font-weight: 600; color: #a94442">{{item.label}}</label></h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                
                 
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Stations</h3>
                    </div>
                </div>


                    {% for item in site.data.menu %}
                    {% if item.category == "Stations" %}
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>{{item.title}}</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Vegetable, Fruit, Sandwich and Cheese Trays</h3>
                    </div>
                </div>
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Assorted Fruit</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Cheese and Pickle</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Vegetable Tray</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Combination Fruit &amp; Vegetable</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Roasted Vegetable</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Marinated Vegetables</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Smoked Cheese</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Antipasta Tray</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Fleur de lis Brie (Praline Sauce and Brie in puff Pastry)</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Croissants</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Meaty Sandwich Assortment</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Poboys</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Meat and Cheese</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Chicken Pin Wheels</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Seafood Pin Wheels</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Pimento Cheese</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Meat Tray</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Mediterranean Hummus</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Broccoli and Tomato</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Asparagus Tray</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Soups, Gumbo, Dips and Salads</h3>
                    </div>
                </div>
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Seafood Gumbo</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Shrimp &amp; Okra Gumbo</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Chicken &amp; Sausage Gumbo</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Corn &amp; Crab Bisque</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Lobster &amp; Crab Bisque</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Crawfish Bisque</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Seafood Bisque</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Oyster Rockefeller</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Potato Soup</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Crawfish Dip</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Crab Dip</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Spinach &amp; Artichoke Dip</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Broccoli &amp; Cheese</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Salsa</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Black Bean &amp; Corn</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>French Onion Tasso</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Spinach &amp; Crab</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Seven Layer</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Potato Salad</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Shrimp Pasta</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Bow Tie Pesto</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Tomato Mozzarella</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Artichoke and Feta Cheese</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Fruit Salad</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Seafood Salad</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Chicken Salad</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Entree</h3>
                    </div>
                </div>
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Beef or Pork Roast</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Sliced Brisket</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Beef Tenderloin</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Prime Rib</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Pork Tenderloin</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Boneless Turkey</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Baked Ham</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Turkey Roll</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Sliced Stuffed Chicken Breast</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Shrimp Fettuccine</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Crawfish &amp; Tasso Pasta</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Pastalaya</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Smoked Baby Back Ribs</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Soft Shell Crab</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Lamb Chops</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Etouffee</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Chicken Alfredo</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Sweet and Sour Pork</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Crawfish Enchiladas</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Rice Dressing</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Vegetable Meadley</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Corn Macque Choux</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Duck Tenderloin</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4>Jambalaya</h4>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <p>Food is priced according to menu choices on a per person basis. The prices range from mid
                            twenties on up, per person, depending on food selection. </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


    <section id="work" class="cover height-50 imagebg parallax" data-overlay="1">
        <div class="background-image-holder">
            <img alt="background" src="../static/thecrossing/images/restaurant-3.jpg"/>
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <h1>
                        Beverages
                    </h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Cold Drinks/No Liquor</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-block">
                        <h4>Includes sodas, juices, and water</h4>
                        <p>
                            Has the option of cash bar for all alcohol.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Beer/Wine</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-block">
                        <h4>Includes 3 choices of beer and 3 choices of wine, sodas, juice, and water</h4>
                        <p>
                            Also has the option for cash bar for mixed drinks or no mixed drinks at all.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <h3 class="red">Hard Liquor and Premium Liquor</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-block">
                        <h4>Includes beer, wine, mixed drinks, sodas, juices, and water</h4>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="slider" data-arrows="true" data-paging="true">
        <ul class="slides">
            <li>
                <img alt="Image" src="../static/thecrossing/images/4.jpg"/>
            </li>
            <li>
                <img alt="Image" src="../static/thecrossing/images/1.jpg"/>
            </li>
            <li>
                <img alt="Image" src="../static/thecrossing/images/2.jpg"/>
            </li>
        </ul>
    </section>
    <a name="Contact"></a>
    <section id="contact" class="imageblock switchable feature-large space--lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <form id="contact-form" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="mbswItkDLRXorc43NQpqfK5YYTlvz6GyimFZWAg1T0e7dJMrisAw7ZhcpBls0puT">
                        <div class="col-sm-12">
                            <label>Your Name:</label>
                            <input type="text" name="name" class="validate-required" required id="id_name">
                            
                        </div>
                        <div class="col-sm-12">
                            <label>Email Address:</label>
                            <input type="email" name="email" class="validate-required" required id="id_email">
                            
                        </div>
                        <div class="col-sm-12">
                            <label>Message:</label>
                            <textarea name="message" cols="40" rows="10" class="validate-required" required id="id_message">
</textarea>
                            
                        </div>
                        <div class="col-sm-12">
                            <button style="transform: scale(1) !important;" type="submit"
                                    class="g-recaptcha btn btn--primary"
                                    data-sitekey="6LfEwN4aAAAAAMw194_tDMZQAejUljCSjirX0rdT"
                                    data-callback="submitContactForm"
                                    id="form-button"
                            >Send Form
                            </button>
                        </div>
                        <script>
                            function submitContactForm (event) {
                                var form = new FormData(document.getElementById('contact-form'));
                                $.ajax({
                                    headers: {'X-CSRFTOken': 'mbswItkDLRXorc43NQpqfK5YYTlvz6GyimFZWAg1T0e7dJMrisAw7ZhcpBls0puT'},
                                    enctype: 'multipart/form-data',
                                    url: '/',
                                    contentType: false,
                                    processData: false,
                                    type: 'POST',
                                    data: form,
                                    success: function (result) {
                                        if (result.status === 200) {
                                            Swal.fire("Form Submitted!", "Your message has been sent to us", "success")
                                        } else {
                                            let errors = ""
                                            for (var i = 0; i < result.errors.length; i++) {
                                                errors += `<li>${result.errors[i]}</li>`;
                                            }
                                            Swal.fire({
                                                "icon": "warning",
                                                "title": "Invalid Form",
                                                "html": `These fields are either invalid or blank: <ul>${errors}<ul>`
                                            });
                                        }
                                    }
                                    ,
                                    error: function (err) {
                                        Swal.fire({
                                            icon: "error",
                                            title: "Form Submission Failure",
                                            html: "Something went wrong, please try again later"
                                        })
                                    }
                                })
                            }
                        </script>
                    </form>
                </div>

                <div class="col-md-5 col-sm-7">
                    <h3>113 Louisiana Ave
                        <br/>Rayne, Louisiana</h3>
                    <p class="lead">
                        E:
                        <a href="mailto:erincrossingmk@yahoo.com">erincrossingmk@yahoo.com</a>
                        <br/> P: <a href="tel:3372074600" class="phone">(337) 207 4600</a>
                    </p>
                    <p class="lead">
                        Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on
                        business days.
                    </p>
                    <p class="lead">
                        Call to make an appointment.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

