 <form id="contact-form" method="POST">
						<input type="hidden" name="csrfmiddlewaretoken" value="mbswItkDLRXorc43NQpqfK5YYTlvz6GyimFZWAg1T0e7dJMrisAw7ZhcpBls0puT">
						<div class="col-sm-12">
							<label>Your Name:</label>
							<input type="text" name="name" class="validate-required" required id="id_name">
							
						</div>
						<div class="col-sm-12">
							<label>Email Address:</label>
							<input type="email" name="email" class="validate-required" required id="id_email">
							
						</div>
						<div class="col-sm-12">
							<label>Message:</label>
							<textarea name="message" cols="40" rows="10" class="validate-required" required id="id_message">
</textarea>
							
						</div>
						<div class="col-sm-12">
							<button style="transform: scale(1) !important;" type="submit"
									class="g-recaptcha btn btn--primary"
									data-sitekey="6LfEwN4aAAAAAMw194_tDMZQAejUljCSjirX0rdT"
									data-callback="submitContactForm"
									id="form-button"
							>Send Form
							</button>
						</div>
						<script>
							function submitContactForm (event) {
								var form = new FormData(document.getElementById('contact-form'));
								$.ajax({
									headers: {'X-CSRFTOken': 'mbswItkDLRXorc43NQpqfK5YYTlvz6GyimFZWAg1T0e7dJMrisAw7ZhcpBls0puT'},
									enctype: 'multipart/form-data',
									url: '/',
									contentType: false,
									processData: false,
									type: 'POST',
									data: form,
									success: function (result) {
										if (result.status === 200) {
											Swal.fire("Form Submitted!", "Your message has been sent to us", "success")
										} else {
											let errors = ""
											for (var i = 0; i < result.errors.length; i++) {
												errors += `<li>${result.errors[i]}</li>`;
											}
											Swal.fire({
												"icon": "warning",
												"title": "Invalid Form",
												"html": `These fields are either invalid or blank: <ul>${errors}<ul>`
											});
										}
									}
									,
									error: function (err) {
										Swal.fire({
											icon: "error",
											title: "Form Submission Failure",
											html: "Something went wrong, please try again later"
										})
									}
								})
							}
						</script>
					</form>