<section id="contact" class="imageblock switchable feature-large space--xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
			 <div data-paperform-id="the-crossing-contact"></div><script>(function() {var script = document.createElement('script'); script.src = "https://paperform.co/__embed.min.js"; document.body.appendChild(script); })()</script>
			   
			</div>

			<div class="col-md-5 col-sm-7">
				<h3><address>{{site.data.company_details.address}}</address>
				</h3>
				<p class="lead">
					E:
					<a href="mailto:{{site.data.company_details.email}}">{{site.data.company_details.email}}</a>
					<br /> P: <a href="tel:{{site.data.company_details.phone}}" class="phone">{{site.data.company_details.phone}}</a>
				</p>
				<p class="lead editable">
					Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on
					business days.
				</p>
				<p class="lead editable">
					Call to make an appointment.
				</p>
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</section>