 <form  action="https://formspree.io/f/xrgnbvee"
   method="POST">
						<div class="col-sm-12">
							<label>Your Name:</label>
							<input type="text" name="name" class="validate-required" required id="id_name">
							
						</div>
						<div class="col-sm-12">
							<label>Email Address:</label>
							<input type="email" name="email" class="validate-required" required id="id_email">
							
						</div>
						<div class="col-sm-12">
							<label>Phone Number</label>
							<input type="tel" name="Phone" class="validate-required" required id="id_phone">
							
						</div>
						<div class="col-sm-12">
							<label>Message:</label>
							<textarea name="message" cols="40" rows="10" class="validate-required" required id="id_message">
</textarea>
							
						</div>
						<div class="col-sm-12">
							<button style="transform: scale(1) !important;" type="submit" class="g-recaptcha btn btn--primary">Send Form</button>
						</div>
					</form>