<footer class="footer-7 text-center-xs bg--secondary">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
							<span class="type--fine-print">&copy;
								{{ site.time | date: "%Y" }} by The Crossing at Mervine Kahn. All Rights Reserved. | Site and Development by <a
										href="/" target="_blank"
										title="Accolades - Website Design Lafayette Louisiana">Accolades IT</a></span>
			</div>
			<div class="col-sm-6 text-right text-center-xs">
				<ul class="social-list list-inline">
					<li>
						<a href="#">
							<a href="#" class="fa fa-google"></a>
						</a>
					</li>
					<li>
						<a href="#">
							<a href="#" class="fa fa-twitter"></a>
						</a>
					</li>
					<li>
						<a href="#">
							<a href="#" class="fa fa-facebook"></a>
						</a>
					</li>
					<li>
						<a href="#">
							<a href="#" class="fa fa-instagram"></a>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</footer>