
<nav class="bar bar-toggle bar--transparent bar--absolute bg--dark" data-fixed-at="200">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-sm-2 col-xs-3">
				<div class="bar__module">

					<a href="/">
						<img class="logo logo-dark" alt="logo"
							 src="{{site.data.company_details.logo_white}}"/>
						<img class="logo logo-light" alt="logo"
							 src="{{site.data.company_details.logo_white}}"/>
					</a>

				</div>
				<!--end module-->
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="bar__module">
					<a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<!--end module-->
			</div>
			<!--end columns-->
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</nav>
<div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu"
	 data-animation="from-right">
	<div class="side-menu__module pos-vertical-center text-right">
		<ul class="menu-vertical">
			{% for item in site.data.nav %}
			<li>
				<a class="inner-link" href="{{item.link}}">{{item.label}}</a>
			</li>
			{% endfor %}
			<li>
				<a class="btn btn--primary type--uppercase inner-link" href="tel:{{site.data.company_details.phone}}">
							<span class="btn__text">
								Book an Event
							</span>
				</a>
			</li>
		</ul>
	</div>
	<!--end module-->
	<div class="side-menu__module pos-bottom pos-absolute col-xs-12 text-right">
		<ul class="social-list list-inline text-right list--hover">

			{% for item in site.data.company_details.social %}
			<li>
					<a href="{{item.link}}" class="fa fa-{{item.icon}}"></a>
			</li>
			{% endfor %}
			
		</ul>
	</div>
</div>
