<script src="../static/thecrossing/js/jquery-3.1.1.min.js"></script>
<script src="../static/thecrossing/js/flickity.min.js"></script>
<script src="../static/thecrossing/js/easypiechart.min.js"></script>
<script src="../static/thecrossing/js/parallax.js"></script>
<script src="../static/thecrossing/js/typed.min.js"></script>
<script src="../static/thecrossing/js/datepicker.js"></script>
<script src="../static/thecrossing/js/isotope.min.js"></script>
<script src="../static/thecrossing/js/ytplayer.min.js"></script>
<script src="../static/thecrossing/js/lightbox.min.js"></script>
<script src="../static/thecrossing/js/granim.min.js"></script>
<script src="../static/thecrossing/js/jquery.steps.min.js"></script>
<script src="../static/thecrossing/js/countdown.min.js"></script>
<script src="../static/thecrossing/js/twitterfetcher.min.js"></script>
<script src="../static/thecrossing/js/spectragram.min.js"></script>
<script src="../static/thecrossing/js/smooth-scroll.min.js"></script>
<script src="../static/thecrossing/js/scripts.js"></script>
<script src="../static/thecrossing/js/sweetalert2.all.min.js"></script>
<script src="../static/thecrossing/js/custom.js"></script>
{% if page.name == 'calendar.html' %}
<link href="../static/thecrossing/calendar/packages/core/main.css" rel='stylesheet' />
<link href="../static/thecrossing/calendar/packages/daygrid/main.css" rel='stylesheet' />
<script src="../static/thecrossing/calendar/packages/core/main.js"></script>
<script src="../static/thecrossing/calendar/packages/interaction/main.js"></script>
<script src="../static/thecrossing/calendar/packages/daygrid/main.js"></script>
{% endif %}