<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
</head>
<body class=" ">
<a id="start"></a>
<div class="nav-container ">
    {% include nav.html %}
</div>
    <div class="main-container">
        {{content}}
    </div>
{% include footer.html %}
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="fa fa-arrow-up"></i>
</a>
{% include scripts.html %}

</body>
</html>
